@page "/"
@using classlibrary
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="startSimulation">start</button>

@if(nodes != null)
{
    @foreach (var node in nodes)
    {
        <div>
            @node.Term
        </div>
    }
}

@code {
    List<SimulationNode>? nodes;

    void startSimulation()
    {
        var node1 = new ServerNode();
        var node2 = new ServerNode();
        var node3 = new ServerNode();

        var SimulationNode = new SimulationNode(node1);
        var simulationNode2 = new SimulationNode(node2);
        var simulationNode3 = new SimulationNode(node3);

        nodes = [simulationNode2, simulationNode3, SimulationNode];
        StateHasChanged();
    }

}